*{
    margin: 0;
    padding: 0;
    color: white;
}
header{
    background-color: rgb(86, 86, 195);
    height: 75px;
}
header nav a{
    text-decoration:none;
    color: white;
    font-size: 25px;
    margin: 20px;
}
.flex-box{
    display:flex;
    justify-content: flex-end;
}
.logo{
    align-self: flex-start;
}
.patteren{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
}
.patteren .box{
    height: 30px;
    width: 30px;
    background-color: skyblue;
    margin: 10px;
}
main.flex-box{
    display: flex;
    justify-content: space-evenly;
    height: 55vh;
    align-items: center;
}
main{
    background-color: blue;
}